/*
==============================================
;   Title: cuauro-card-game.css
;   Author: Richard Krasso
;   Date: 12 12 2022
;   Modified by: Patrick Cuauro
;   Description: style file for Card game page
==============================================
*/
/*8)ii*/
.player-card {
    text-align: center;
    margin: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.player-card-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 10px;    
}
.player-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 600px;
}
.individual-card {
    grid-template-columns: auto auto auto auto;
    display: grid;
    margin: 3% auto 0;
}