/**
===============================================
;   Title: cuauro-number-game.css
;   Author: Patrick cuauro
;   Date: 11 11 2022
;   Modify by: N/A
;   Description: Styling for Assignment 4.2 cuauro-number-game.html
===============================================
*/
/*body {
    text-align: center;
    font-size: 28px;
    font-family: 'Oswald', 'Verdana', 'Arial', sans-serif;
    width: 90%;
    margin: 0 auto;
}*/